.cart{
    margin-top: 100px;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr 0.5fr;
    align-items: center;
    font-size: max(1vw,12px);
    color: grey;
}

.cart_item_image{
    margin: 10px 0px;
    color: black;
}

.cart_item_image img{
    height: 65px;
    width: 75px;
    border-radius: 20px;
}

.cart_item_image .cross{
    cursor: pointer;
}